@charset "utf-8";

.g-recaptcha{
    display: inline-block;
}
.g-recaptcha.captcha-error{
    border: 1px solid red;
    padding: 10px;
}

@media (max-width: 1024px) {
    .g-recaptcha{
        transform:scale(0.9);
        transform-origin:0 0
    }
}
@media (max-width: 768px) {
    .g-recaptcha{
        transform:scale(0.7);
        transform-origin:0 0
    }
}
@media (max-width: 360px) {
    .g-recaptcha{
        transform:scale(0.6);
        transform-origin:0 0
    }
}

